@charset "UTF-8";
/* Todas as demais mídias*/

/* Typical  device Breakpoints
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768 até 992px
desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media print {

}

@media screen and (min-width:768px) {
	body{
		background-image: url(../imagens/back-tablet.jpg);
	}
	img#tablet{display: block;}
}
@media screen and (min-width: 992px) {
	body{
		background-image: url(..);
	}
}
@media screen and (min-width:1200px) {
	
}