@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #61695A, #A8B59C);
}

main {
    background-color: white;
    border-radius: 20px 0 20px 0;
    box-shadow: 5px 2px 10px #61695A;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #9DA891;
    text-align: center;
    text-shadow: 1px 1px 1px #61695A;
}

h2 {
    color: #A8B59C;
    text-shadow: 0 1px 1px #61695A;
}

p {
    text-align: justify;
}